<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Attorneys.</title>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../Content/Main.css" />
    <script src="../Content/main.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Mate|Jaldi' rel='stylesheet' type='text/css'>
</head>


<body>
    <div id="navbar-frame"></div>

    <div class="content container" style="margin-top:20px;">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="restrict-image">
                        <img src="../images/paulwalker.jpg" height="250" width="350">
                    </div>
                    <div class="custom-font caption">
                        <h3>Paul Walker</h3>
                        <p>This is paul walker. </p>
                        <p> <a href="#" class="btn btn-primary" role="button">..ViewMore</a></p>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="restrict-image">
                        <img src="../images/leonardo-dicaprio.jpg" height="250" width="350">
                    </div>
                    <div class="custom-font caption">
                        <h3>Leonardo Dicaprio</h3>
                        <p>This is leonardo. </p>
                        <p> <a href="#" class="btn btn-primary" role="button">..ViewMore</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="restrict-image">
                        <img src="../images/Elizabeth-300x300.jpg" height="250" width="350">
                    </div>
                    <div class="custom-font caption">
                        <h3>Elizabeth</h3>
                        <p>This is Elizabeth</p>
                        <p> <a href="#" class="btn btn-primary" role="button">..ViewMore</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="restrict-image">
                        <img src="../images/download.jpg" height="250" width="350">
                    </div>
                    <div class="custom-font caption">
                        <h3>Ashley</h3>
                        <p>This is Ashley</p>
                        <p> <a href="#" class="btn btn-primary" role="button">..ViewMore</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="restrict-image">
                        <img src="../images/mike-tyson.png" height="250" width="350">
                    </div>
                    <div class="custom-font caption">
                        <h3>Mike Tyson</h3>
                        <p>This is Mike Tyson. </p>
                        <p> <a href="#" class="btn btn-primary" role="button">..ViewMore</a></p>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div id="footer-frame"></div>
</body>
</html>