<div class="footer-wrapper custom-font">
    <div class="footer col-xs-12">
        <div class="footer-block-container col-xs-4">
            <div class="child"><a href="Index.html">Home</a></div>
            <!--   <div class="child">test1</div>
            <div class="child">test2</div>
            <div class="child">test3</div>-->
        </div>
        <div class="footer-block-container col-xs-4">
            <div class="child"><a href="Views/AboutUs.html">About Us</a></div>
        </div>
        <div class="footer-block-container col-xs-4">
            <div class="child"><a href="Views/ContactUs.html">Contact Us</a></div>
        </div>
    </div>
</div>

<div class="col-xs-12 copyRight">
    <p class="col-xs-6"><small>&copy; 2015 Wener & Associates LLC.All rights reserved. For assistance call 1.800.132.1234</small></p>
    <p class="col-xs-3"><a href="#tallModal">privacy and disclaimer</a></p>
</div>