<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">

    <div class="navbar-header brandHeader">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="../index.html" class="navbar-brand active">Wener & Associates LLC</a>
        <div class="phoneNum">
            <a class="navbar-brand " href="tel:18001321234">Call now 1-800-132-1234</a>
        </div>
    </div>
    <div class="container-fluid">
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <div class="centerNav" style="text-align: center;">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="../Views/SSIBenefits.html">SSI Benefits</a></li>
                            <li><a href="../Views/VeteramsDisability.html">Veteran's Disability</a></li>
                            <li><a href="#">Social Security Disability</a></li>
                        </ul>
                    </li>
                    <li><a href="../Views/Attorneys.html">Attorneys</a></li>
                    <li><a href="../Views/AboutUs.html">About Us</a></li>
                    <li><a href="../Views/ContactUs.html">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
