<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Contact Us.</title>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../Content/Main.css" />
    <script src="../Content/main.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Mate|Jaldi' rel='stylesheet' type='text/css'>
</head>


<body>
    <div id="navbar-frame"></div>
    <div class="container custom-font" style="margin-top:30px; margin-bottom:30px;">
      
        <h2 style="color:#C72E2E;">How a Lawyer Can Help</h2>
        <p>Social Security law is a complex maze, with subtle twists and turns that may require a lawyer's skill. At this time in your life there is a lot at stake. One thing to remember is that until 1996, the Social Security Administration was within the <b>Department of Health and Human Services.</b> Some phone books may still list the Social Security Administration under that department, and some may list it under its own heading.</p>
        <h2 style="color:#C72E2E;">Pension Income other Than Social Security</h2>
        <p>While a retiree's financial condition is not a factor in claiming benefits, the retiree's eligibility for pension plans other than Social Security is considered. Lower-income workers receive a higher percentage of benefits based on their eligible income, and in order to prevent people with pension income based on earnings not subject to <b>Social Security withholdings,</b> from also receiving a larger percentage of their income when claiming benefits, a lower percentage is used to calculate benefits for retirees with income based on earnings not subject to Social Security withholdings.</p>
        <h2 style="color:#C72E2E;">Early Retirement Reduction</h2>
        <p>The Social Security Act provides an option for retirement prior to age 65, the age at which full retirement benefits are generally payable. A retiree may elect to retire as early as age 62. However, the amount of his benefits would be reduced as a penalty early retirement. It's important to remember that this penalty is permanent and is not removed once the retiree turns 65. This is also true for the auxiliary husband's and wife's benefit's (except those with a child in care). The retirement benefit is reduced by 5/9 of 1% (or 1/180 ) for each month of entitlement before age 65.</p>
    </div>
    <div id="footer-frame"></div>
</body>
</html>