<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Contact Us.</title>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../Content/Main.css" />
    <script src="../Content/main.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Mate|Jaldi' rel='stylesheet' type='text/css'>
    <style type="text/css">
        .li-vet{
            color: #800000;
        }
        
    </style>
</head>


<body>
    <div id="navbar-frame"></div>
    <div class="container custom-font" style="margin-top:30px; margin-bottom:30px;">
        <h2 style="color:#C72E2E;">Our VA Disability Benefits Attorneys Fight Tough For Tennessee Veterans</h2>
        <div class="col-lg-12 col-xs-12 col-md-12" style="margin-bottom:30px;">
            Wener Associates never charges a penny unless we win your claim. Our veterans disability benefits attorneys fight for veterans all over Tennessee. We work for veterans in every city in the state, including: Memphis, New South Memphis, Nashville, Knoxville, Chattanooga, East Chattanooga, Clarksville, Murfreesboro, Jackson, and Johnson City.
        </div>
        <h2 style="color:#C72E2E;">Compensation From The VA For Veterans Disability Benefits In Tennessee</h2>
        <div class="col-lg-12 col-xs-12 col-md-12" style="margin-bottom:30px;">
            <p>Some veterans are receiving over $2,800 a month in veterans disability benefits payments. There are also VA&nbsp;disability benefits payments available to veterans who have dependent children or parents.Widows who lost veterans due to service-connected injuries may be eligible for Dependency and Indemnity Compensation benefits.</p>
            <p>For your free legal consultation, fill out the&nbsp;<span style="color: #428bca;"><a style="color: #428bca;" title="Tennessee Veterans Disability Benefits Attorney" href="../Views/ContactUs.html">online contact form</a></span>&nbsp;or call&nbsp;<strong><a href="tel:18001321234">1-800-132-1234</a></strong>.</p>
        </div>

        <h2 style="color:#C72E2E;">Tennessee Veterans Can Receive VA Disability Benefits For Many Injuries</h2>
        <p>There are lots of mental and physical impairments that Tennessee&nbsp;veterans can receive VA disability benefits&nbsp;compensation&nbsp;for. As a general rule, if your impairment is related to your military service it may be considered service-connected. Some of the most common impairments veterans are receiving money for is:</p>

        <ul>
            <li><span class="li-vet">Agent Orange Exposure</span></li>
            <li><span class="li-vet">Burn Pit Toxic Exposure</span></li>
            <li><span class="li-vet">Dental Problems</span></li>
            <li><span class="li-vet">Depression in Soldiers</span></li>
            <li><span class="li-vet">Diabetes</span></li>
            <li><span class="li-vet"> Fibromyalgia</span></li>
            <li><span class="li-vet">Gulf War Syndrome</span></li>
            <li><span class="li-vet">Ischemic Heart Disease</span></li>
            <li><span class="li-vet">Military Sexual Trauma (MST)</span></li>
            <li><span class="li-vet">Posttraumatic Stress Disorder (PTSD)</span></li>
            <li><span class="li-vet">Sleep Apnea</span></li>
            <li><span class="li-vet">Traumatic Brain Injury (TBI)</span></li>
        </ul>
    </div>
    <div id="footer-frame"></div>
</body>
</html>